In [1]:
import pandas as pd

In [54]:
agentes = pd.read_csv('data/Agentes.csv')
agentes.head()

,ID Agente,Nombre,email,Fecha de Nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [5]:
puestos = pd.read_csv('data/puestos.csv')
puestos.head()

,Unnamed: 0,ID Puesto,Puesto,Departamento,Tipo Puesto
0,0,10-23200,Ingeniero de Materiales,MATERIALES,Operativo
1,1,10-24111,Operador de Producción,MATERIALES,Operativo
2,2,10-25120,Auxiliar de compras,MATERIALES,Administrativo
3,3,10-25130,Comprador,MATERIALES,Administrativo
4,4,10-32050,Supervisor General de Materiales,MATERIALES,Mandos Medios

In [6]:
empleados = pd.read_csv('data/Empleados.csv')
empleados.head()

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [8]:
excel_2016 = pd.read_excel('data/2016.xlsx')
excel_2016.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción,Web,Índice
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,www.tractchun.es,1.0

In [9]:
excel_2017 = pd.read_excel('data/2017.xlsx')
excel_2017.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-8142900901,2017-06-14,1200,29,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1,5
1,GDDEST-7342745152,2017-01-10,1855,31,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5

In [10]:
excel_2017.to_csv("data/2017.csv")

In [11]:
excel_2018 = pd.read_excel('data/2018.xlsx')
excel_2018.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-9743106195,2018-01-06,759,21,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,GDDENR-9043229214,2018-05-09,521,2,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5

In [12]:
excel_2018.to_csv("data/2018.csv")

In [13]:
excel_2019 = pd.read_excel('data/2019.xlsx')
excel_2019.head(2)

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-5743562837,2019-04-07,1833,48,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,GDDEER-6043685286,2019-08-08,528,32,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10,5

In [14]:
excel_2019.to_csv("data/2019.csv")

In [15]:
excel_2020 = pd.read_excel('data/2020.xlsx')
excel_2020.head(2)

,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773,48,0 - Sin Clasificar,0 - Sin Asignar,0,5
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613,17,0 - Sin Clasificar,0 - Sin Asignar,4,5

In [16]:
excel_2020.to_csv("data/2020.csv")

In [19]:
csv_2016 = pd.read_csv('data/2016.csv')
csv_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0

In [21]:
csv_2017 = pd.read_csv('data/2017.csv')
csv_2017.head()

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,0,GDDEER-8142900901,2017-06-14,1200,29,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1,5
1,1,GDDEST-7342745152,2017-01-10,1855,31,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5
2,2,GDLEER-0042906431,2017-06-20,233,34,Software,Problema,2 - Normal,0 - Sin Asignar,0,5
3,3,GDLEER-0042997167,2017-09-19,996,21,Software,Problema,2 - Normal,0 - Sin Asignar,0,5
4,4,GDLEER-0142746832,2017-01-11,1113,48,Software,Problema,2 - Normal,0 - Sin Asignar,1,5

In [22]:
csv_2018 = pd.read_csv('data/2018.csv')
csv_2018.head()

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,0,GDDEER-9743106195,2018-01-06,759,21,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,1,GDDENR-9043229214,2018-05-09,521,2,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5
2,2,GDDENT-9043303547,2018-07-22,1564,45,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,1
3,3,GDDESR-1243421724,2018-11-17,32,27,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2,5
4,4,GDDESR-8843106588,2018-01-06,1928,45,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,8,5

In [23]:
csv_2019 = pd.read_csv('data/2019.csv')
csv_2019.head()

,Unnamed: 0,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,0,GDDEER-5743562837,2019-04-07,1833,48,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,1,GDDEER-6043685286,2019-08-08,528,32,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10,5
2,2,GDDEET-7743705549,2019-08-28,654,45,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,1
3,3,GDDENR-1043755533,2019-10-17,243,15,Acceso99Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5
4,4,GDDESR-9243800417,2019-12-01,601,34,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2,5

In [24]:
csv_2020 = pd.read_csv('data/2020.csv')
csv_2020.head()

,Unnamed: 0,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción
0,0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773,48,0 - Sin Clasificar,0 - Sin Asignar,0,5
1,1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613,17,0 - Sin Clasificar,0 - Sin Asignar,4,5
2,2,GDDESR-3244128887,2020-10-24,Problema,Sistema,1508,8,0 - Sin Clasificar,0 - Sin Asignar,2,1
3,3,GDDESR-4443972026,2020-05-21,Problema,Sistema,1192,20,0 - Sin Clasificar,0 - Sin Asignar,4,5
4,4,GDDESR-9044014744,2020-07-02,Problema,Sistema,1224,7,0 - Sin Clasificar,0 - Sin Asignar,10,5

In [28]:
csv_2017.rename(columns = {col :  col.lower().replace(" ", "_") for col in csv_2017.columns} , inplace = True)
csv_2017 = csv_2017.drop(["unnamed:_0"], axis = 1)
csv_2017.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDEER-8142900901,2017-06-14,1200,29,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1,5
1,GDDEST-7342745152,2017-01-10,1855,31,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5
2,GDLEER-0042906431,2017-06-20,233,34,Software,Problema,2 - Normal,0 - Sin Asignar,0,5
3,GDLEER-0042997167,2017-09-19,996,21,Software,Problema,2 - Normal,0 - Sin Asignar,0,5
4,GDLEER-0142746832,2017-01-11,1113,48,Software,Problema,2 - Normal,0 - Sin Asignar,1,5

In [29]:
csv_2018.rename(columns = {col :  col.lower().replace(" ", "_") for col in csv_2018.columns} , inplace = True)
csv_2018 = csv_2018.drop(["unnamed:_0"], axis = 1)
csv_2018.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDEER-9743106195,2018-01-06,759,21,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,GDDENR-9043229214,2018-05-09,521,2,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5
2,GDDENT-9043303547,2018-07-22,1564,45,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,1
3,GDDESR-1243421724,2018-11-17,32,27,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2,5
4,GDDESR-8843106588,2018-01-06,1928,45,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,8,5

In [31]:
csv_2019.rename(columns = {col :  col.lower().replace(" ", "_") for col in csv_2019.columns} , inplace = True)
csv_2019 = csv_2019.drop(["unnamed:_0"], axis = 1)
csv_2019.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDEER-5743562837,2019-04-07,1833,48,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,GDDEER-6043685286,2019-08-08,528,32,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10,5
2,GDDEET-7743705549,2019-08-28,654,45,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,1
3,GDDENR-1043755533,2019-10-17,243,15,Acceso99Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5
4,GDDESR-9243800417,2019-12-01,601,34,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2,5

In [32]:
csv_2020.rename(columns = {col :  col.lower().replace(" ", "_") for col in csv_2020.columns} , inplace = True)
csv_2020 = csv_2020.drop(["unnamed:_0"], axis = 1)
csv_2020.head()

,id_ticket,fecha,tipo,categoría,id_empleado,id_agente,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773,48,0 - Sin Clasificar,0 - Sin Asignar,0,5
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613,17,0 - Sin Clasificar,0 - Sin Asignar,4,5
2,GDDESR-3244128887,2020-10-24,Problema,Sistema,1508,8,0 - Sin Clasificar,0 - Sin Asignar,2,1
3,GDDESR-4443972026,2020-05-21,Problema,Sistema,1192,20,0 - Sin Clasificar,0 - Sin Asignar,4,5
4,GDDESR-9044014744,2020-07-02,Problema,Sistema,1224,7,0 - Sin Clasificar,0 - Sin Asignar,10,5

In [35]:
concat1 = pd.concat([csv_2016, csv_2017, csv_2018, csv_2019, csv_2020], axis=0)
concat1

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...
29083,TWRTSR-8543883120,2020-02-22,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0
29084,TWRTSR-8744097039,2020-09-23,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0
29085,TWRTSR-9643846768,2020-01-16,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0
29086,TWRTSR-9944138906,2020-11-03,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0
29087,TWRTST-8643986162,2020-06-04,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0

In [36]:
empleados

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com
...,...,...,...,...,...,...
1995,NaN,1903,RAMOS,JOSE,55-23200,jose.ramos@tractchun.com
1996,NaN,1904,RUIZ,GUADALUPE,80-22220,guadalupe.ruiz@tractchun.com
1997,NaN,1935,ZEPEDA,FRANCISCO,15-24100,francisco.zepeda@tractchun.com
1998,NaN,1953,ROBLES,ELIZABETH,15-24100,elizabeth.robles@tractchun.com
1999,NaN,1993,ENRIQUEZ,HERCULANO,45-11000,herculano.enriquez@tractchun.com

In [ ]:
puestos.set_index(["ID Puesto"], inplace= True)
puestos

In [40]:
puestos

,Unnamed: 0,Puesto,Departamento,Tipo Puesto
ID Puesto,,,,
10-23200,0,Ingeniero de Materiales,MATERIALES,Operativo
10-24111,1,Operador de Producción,MATERIALES,Operativo
10-25120,2,Auxiliar de compras,MATERIALES,Administrativo
10-25130,3,Comprador,MATERIALES,Administrativo
10-32050,4,Supervisor General de Materiales,MATERIALES,Mandos Medios
...,...,...,...,...
90-14110,92,Tecnico de Calidad,INGENIERIA DE CALIDAD,Operativo
90-18000,93,Gerente de Ingenieria de Calidad,INGENIERIA DE CALIDAD,Gerencia
90-23200,94,Ingeniero de Manufactura,INGENIERIA DE CALIDAD,Operativo
90-24100,95,Supervisor de Producción,INGENIERIA DE CALIDAD,Mandos Medios
90-26100,96,Clerk de Copiado,INGENIERIA DE CALIDAD,Administrativo

In [44]:
puestos.drop(["Unnamed: 0"], axis = 1)
puestos

,Unnamed: 0,Puesto,Departamento,Tipo Puesto
ID Puesto,,,,
10-23200,0,Ingeniero de Materiales,MATERIALES,Operativo
10-24111,1,Operador de Producción,MATERIALES,Operativo
10-25120,2,Auxiliar de compras,MATERIALES,Administrativo
10-25130,3,Comprador,MATERIALES,Administrativo
10-32050,4,Supervisor General de Materiales,MATERIALES,Mandos Medios
...,...,...,...,...
90-14110,92,Tecnico de Calidad,INGENIERIA DE CALIDAD,Operativo
90-18000,93,Gerente de Ingenieria de Calidad,INGENIERIA DE CALIDAD,Gerencia
90-23200,94,Ingeniero de Manufactura,INGENIERIA DE CALIDAD,Operativo
90-24100,95,Supervisor de Producción,INGENIERIA DE CALIDAD,Mandos Medios
90-26100,96,Clerk de Copiado,INGENIERIA DE CALIDAD,Administrativo

In [56]:
puestos_empleados = empleados.join(puestos, on = 'ID Puesto')
puestos_empleados

,Turno,ID Empleado,Apellido,Nombre,ID Puesto,Email,Unnamed: 0,Puesto,Departamento,Tipo Puesto
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com,90,Supervisor de Ingeniería de Calidad,INGENIERIA DE CALIDAD,Mandos Medios
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com,87,Supervisor de Producción,MANTENIMIENTO,Mandos Medios
...,...,...,...,...,...,...,...,...,...,...
1995,NaN,1903,RAMOS,JOSE,55-23200,jose.ramos@tractchun.com,60,Ingeniero de Manufactura,INGENIERIA DE MANUFACTURA,Operativo
1996,NaN,1904,RUIZ,GUADALUPE,80-22220,guadalupe.ruiz@tractchun.com,80,Ingeniero de Procesos,MANTENIMIENTO,Operativo
1997,NaN,1935,ZEPEDA,FRANCISCO,15-24100,francisco.zepeda@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
1998,NaN,1953,ROBLES,ELIZABETH,15-24100,elizabeth.robles@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
1999,NaN,1993,ENRIQUEZ,HERCULANO,45-11000,herculano.enriquez@tractchun.com,47,Supervisor de Aseguramiento de Calidad,INGENIERIA DE CALIDAD,Mandos Medios

In [55]:
concat1.to_csv("data/union_años.csv")

In [57]:
puestos_empleados.to_csv("data/puestos_empleados.csv")